# IDE folders
.vscode
.idea

# Execs
osmium
osmium.exe

# Exe for compression (source https://github.com/upx/upx)
upx.exe

# Used for testing
server.jar
run_server.sh
testing

# mc server
world
cache
config
libraries
logs
plugins
versions    
world_nether
world_the_end
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
purpur.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json
.console_history

# keep the config in internal/
!internal/config